
@{
    ViewBag.Title = "Index";
}

<h2>Customers</h2>

<p>
    This is for Customers
    <br />
    Hello, Customers
</p>

@Html.ActionLink("Customers here", "Index", "Customer", null, new { @class = "btn btn-primary btn-large" })


